#aboutbody{
    margin-left: 225px;
    padding: 50px;
}

.inlineimage{
    display: inline-block;
    max-width: 300px;
    max-height: 300px;
    padding: 20px;
    border-radius: 40px;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description{
    margin-left: 12.5%;
    margin-right: 10%;
    max-width: 75%;
}