#contactbody{
    height: 90%;
    margin-left: 225px;
    padding: 50px;
}

.contactimage{
    display: inline-block;
    width: 300px;
    max-height: 300px;
    margin: 50px;
    border-radius: 40px;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.biganchor{
    font-size: 30px;
    text-decoration: none;
    color: black;
    transition: .25s ease;
}

.medanchor{
    font-size: 20px;
    text-decoration: none;
    color: black;
    transition: .25s ease;
}

.child{
    width: 400px;
    display: inline-block;
}

.biganchor :hover{
    color: lightgray;
}

