#onlineshoppingbody{
    padding: 50px 0px;
    margin-left: 200px;
}

#onlineshoppingimage2{
    display: block;
    margin: auto;
    width: 800px;
    height: 400px;
}

h1{
    padding-bottom: 20px;
}

.description{
    margin-left: 12.5%;
    margin-right: 10%;
    max-width: 75%;
}

.button{
    width:80px;
    height:40px;
    margin: auto;
    text-align: center;
}